<div class="login-modal">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cash balance:</strong>
  <%= @user.cash_balance %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-danger"%>
<br>
<%= link_to 'Back to Login Screen', "/", class: "btn btn-success"%>
</div>