<%= stylesheet_link_tag 'home' %>
<p id="notice"><%= notice %></p>
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <p>Current cash balance: <%= current_user.cash_balance %></p>
  <p>Current portfolio value: <%= current_user.portfolio_value %></p>
  <h3>List of stocks owned by <%=current_user.name%></h3>
  <table>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Price</th>
    <th>Shares</th>
  </tr>
    <% @owned_stocks.each do |ownership| %>
      <tr>
        <th><%= ownership.stock.name %></th>
        <th><%= ownership.stock.symbol %></th>
        <th><%= ownership.stock.share_price %></th>
        <th><%= ownership.num_shares %></th>
      </tr>
    <% end %>
  </table>
  <!-- todo: add graph for portfolio value -->
  <div class="actions">
    <%= link_to "Make Deposit or Withdrawal", new_exchange_path, class: "btn btn-primary" %>
    <%= link_to "Make Trade", new_transaction_path, class: "btn btn-primary" %>
  </div>
  <div id="logout_link">
  <%= link_to "Log Out", logout_path %>
  </div>
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">It’s inevitable <a href="https://t.co/eBKnQm6QyF">pic.twitter.com/eBKnQm6QyF</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1284291528328790016?ref_src=twsrc%5Etfw">July 18, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
