
<p id="notice"><%= notice %></p>

<!-- todo: display username here, when we know which user is logged in -->
<h1>Make Trade</h1>

<br>
<% if current_user %>
<%= form_for Transaction.new, url: "/transactions", method: :post do |form| %>
  <div class="transaction_type" id="transaction_type" name="transaction_type">
  <%= form.radio_button :transaction_type, 'buy', :checked => true %>
  <%= label :buy_selection, 'buy'%>
  <%= form.radio_button :transaction_type, 'sell' %>
  <%= label :sell_selection, 'sell'%>
  </div>

  <div id="input_stock">
  <%= form.label :stock_id, "Input Stock Symbol:" %>
  <%= form.text_field :stock_id %>
  </div>

  <div id="owned_stock" style="display: none;">
    <label for="selected_stock">Owned Stocks:</label>
    <select id="selected_stock" name="selected_stock">
    <% current_user.stocks_ownership.each do |ownership| %>
      <option value=<%=ownership.stock.id%>><%=ownership.stock.symbol=%></option>
    <% end %>
    </select>
  </div>
  <br>
  <label for="num_shares">Number of Shares: </label>
  <%= form.number_field :num_shares, min: 1, max: 9 %>
  <br>
  <br>
  <div class="actions">
  <%= form.submit "trade", class: 'btn btn-success'%>
  </div>
  <br>
<% end %>
<%end%>


<div>
<button onclick="window.location.href='/'">Back to Home</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $(document).ready(function() {
            $("#transaction_type").click(function() {
                rad_val = $("input[name='transaction[transaction_type]']:checked").val();
                owned_stocks_val = $("#owned_stock");
                input_stocks_val = $("#input_stock");
                if (rad_val == 'buy') {
                  owned_stocks_val.hide();
                  input_stocks_val.show();
                }
                else if (rad_val == 'sell') {
                  owned_stocks_val.show();
                  input_stocks_val.hide();
                }
            });
        });
</script>

