<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'transactions'%>
<div>
<% if current_user %>
<%= form_with(model: transaction) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="top">
  <div class="transaction-modal">
  <h1>New Transaction</h1>
  <div class="radio-input">
  <div class="form-check form-check-inline">
    <%= form.radio_button :transaction_type, 'buy', :checked => true, class: "form-check-input" %>
    <%= label :buy_selection, 'buy', class: "form-check-label"%>
  </div>
  <div class="form-check form-check-inline">
    <%= form.radio_button :transaction_type, 'sell', class: "form-check-input" %>
    <%= label :sell_selection, 'sell', class: "form-check-label" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :stock_symbol, "Input Stock Symbol" %>
    <%= form.text_field :stock_symbol %>
  </div>
  <div class="field">
    <%= form.label :num_shares, "Number of Shares" %>
    <%= form.number_field :num_shares, min: 1 %>
  </div>
  <div class="field">
    <%= form.submit "Make Trade", class: 'btn btn-success btn-block'%>
  </div>
  
  </div>
  </div>
  <br>
  <% end %>
</div>

  <div class="bottom">
  <h2>List of Owned Stocks</h2>
  <br>
  <button id="close-modal-button" onclick="switchTables()" class="btn btn-success btn-block" data-remote="true">Show All Stocks</button>
  <!--NOTE: not sure if you need data-remote=true or remote=true since the js still works without it-->
  <table id="table-no-padding" class="table table-light">
    <thead class="table-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price</th>
    <th scope="col">Shares</th>
  </tr>
  </thead>
  </table>
  <div id="table-placeholder" class ="table-placeholder">
    <%= render 'display_stocks_limited', current_user: current_user%>
  </div>
<%end%>
<br>
</div>

<script>
function switchTables() {
var table_display, table_type;
table_display = document.getElementById("table-placeholder");
table_type = document.getElementById("table-type");
if (table_type.value == "limited") {
  table_display.textContent = '';
  table_display.insertAdjacentHTML('afterbegin', '<%= escape_javascript(render "display_stocks_all", current_user: current_user)%>');
  console.log("table_type.value: " + table_type.value);
}
else {
  console.log("table is already ALL: table_type.value: " + table_type.value);
}
}
</script>